<div class="row column medium-7 medium-centered">
  <div class="headline">
    <h3>i'm a front-end software developer
      <br>
      <small>working with javascript
        <br>
        delivering responsive
        <br>
        and user friendly interfaces
        <br>
        for web and native applications</small>
    </h3>
    <p>
      since i work with front end technologies my skills would be relevant to web and software development studios; media companies and in fact any business or organisation who maintains or plans to develop any digital product
      <br>
      <br>
      i look forward to work with creative professionals, entrapreneurs and  organisations who seek to expand their digital presence and want to build up a team of developers focused on building user friendly products for mobile, web, desktop as well as vr sets and vr enabled mobile environments
      <br>
      <br>
      i also work freelance as a developer and consultant in relation to everything front-end development and web programming
      <br>
      <br>
      main skills: #javascript #css3 #html5
      <br>
      <br>
      and: #svg #angular2 #modular architecture and #game-design #game-dev</p>
  </div>
</div>
