
  <div class="headline">
    <h3>i'm a front-end software developer</h3>
    <h4><small>working with javascript, delivering responsive and user friendly interfaces for web and native applications</small></h4>
    <p>
      since i work with front-end technologies my skills would be relevant to web and software development studios; media companies and any business or organisation who maintains or plans to develop any digital product
      </p>
      <p>
      i look forward to work with creative professionals, entrapreneurs and  organisations who seek to expand their digital presence and want to build up a team of developers focused on building user friendly products for mobile, web, desktop as well as vr sets and vr enabled mobile environments
      </p>
      <p>
      i also work freelance as a developer and consultant in relation to anything front-end development and web programming
      </p>
      <p>
      main skills: #javascript #css3 #html5
      </p>
      <p>
      and: #svg #angular2 #modular architecture and #game-design #game-dev</p>
  </div>

