<div class="row column medium-7 medium-centered">
  <div class="headline">
    <h3>i'm a front-end software developer
      <small>working with javascript to deliver responsive and user friendly interfaces for web and native applications</small>
    </h3>
    <p>
      since i work with front end technologies my skills would be relevant to web and software development studios; media companies and in fact any business or organisation who maintains or plans to develop any digital product
      <br>
      i look to work with companies who seek to expand their digital presence and want to build up a team of developers focused on building product for mobile, web and bigger screens as well as vr sets and vr enabled mobile apps
      <br>
      i also work as a freelance developer and consultant in relation to everything front end and web development
      <br>
      #javascript #css3 and #html5 are the main keywords
      <br>
      #svg #angular2 and #modular architecture are the secondary ones</p>
  </div>
</div>
