<div class="row column medium-7 medium-centered">
  <div class="headline">
    <h1>404 page works!<small> which is great, however</small></h1>
    <p>
      if you ended up on this page it means that whatever it was that you were looking for moved and is not in the same place anymore
    </p>
    <h4>
      <small>sorry for that</small></h4>
    <br>
    <p>
      my sugestion would be to either go to the home page by <a href="#">following this link</a>
      <br>
      or in case you were looking for some really important info you could <a href="mailto:rafszul@gmail.com">contact me directly by email</a>
      <br>
      or you could inspect the link that lead you to this page and potentialy <a href="https://github.com/rafszul/rafszul-ng2/issues" target="_blank">letting me know about this via issues section on github</a>
      <br>
      whichever suits you
    </p>
    <br>
    <h4>
      <small>sorry again</small>
    </h4>
  </div>
</div>
