<div class="row column medium-5 medium-centered">
  <div class="headline">
    <h3 class="text-right">lost works!
      <small>... which means that whatever it was that you were looking for is not here anymore. Sorry.</small>
    </h3>
    <p class="text-right">
      Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla
      enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
</div>
