$header-bg: #fff;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 1rem;
$subnav-link-opacity: 0.9;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;
.header {
    text-align: center;
    background: $header-bg;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: $header-height;
    padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
    .headline {
        color: #ffe;
    }
}

.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    li {
        //* float: none; float takes no effect when display set to inline-block, uncoment if display changes
        display: inline-block;
        a {
            padding: $subnav-link-padding 1rem;
            font-size: $subnav-font-size;
            color: #474747;
            text-transform: uppercase;
            display: block;
            letter-spacing: 1px;
            transition: $transition;
            &.is-active {
                text-decoration: underline;
                text-decoration-style: dashed;
                color: rgba(71, 71, 71, $subnav-link-opacity);
            }
            &:hover {
                text-decoration: underline;
                text-decoration-style: dashed;
                color: rgba(71, 71, 71, $subnav-link-opacity);
                transition: $transition;
            }
        }
    }
}
