<header class="header">
  <div class="row">
    <div class="small-6 large-2 columns">
      <!-- 6/6/2 columns >
    <h1>{{title}}</h1-->
    </div>
    <div class="small-6 large-2 columns">
      <!-- 6/6/4 columns >
  <img src="/assets/arthur.svg" alt=""--></div>
    <div class="small-12 large-8 columns">
      <!-- 12/12/8 -->
      <img src="/assets/rafszul.svg" alt=""></div>
  </div>
  <h1 class="headline">
    <h1>{{title}}</h1><small></small></h1>
  <ul class="header-subnav">
    <li><a href="#">Take Action!</a></li>
    <li><a href="#" class="is-active">Carpe Diem!</a></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
  </ul>
</header>