<header class="header">
  <div class="row">
    <div class="small-6 large-3 columns">
      
    </div>
    <div class="small-6 large-3 columns">
    </div>
    <div class="small-12 large-6 columns">
      <a [routerLink]="['/']"><img src="/assets/rafszul.svg" alt=""></a>
    </div>
  </div>
  <div class="row">
    <ul class="header-subnav">

      <li>
        <a routerLink="/about-me" routerLinkActive="is-active">about me</a></li>
      <li>
        <a routerLink="/my-work" routerLinkActive="is-active" class="is-active">my work</a>
      </li>
<!--       <li>
  <a routerLink="/my-cv" routerLinkActive="is-active">my cv</a>
</li> -->
      <li>
        <a routerLink="/contact" routerLinkActive="is-active">contact me</a>
      </li>
            <li>
        <a [routerLink]="['/home']" routerLinkActive="is-active">home</a>

      </li>
    </ul>
  </div>
</header>
