<div class="row column medium-7 medium-centered">
  <div class="headline">
    <h3>contact works!
      <small>... which means that whatever it was that you were looking for is not here anymore. Sorry.</small>
    </h3>
    <p>
      Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla
      enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>

  <hr>

  <div>
  <form id="contact-form" autocomplete="on">

    <label for="name">name:</label>
    <input type="text" class="form-control" id="name" placeholder="your name goes here" aria-describedby="exampleHelpText" required>
    <p class="help-text" id="exampleHelpText">arthur rimbaud</p>
  
    <label for="email">email:</label>
    <input type="text" class="form-control" id="email" placeholder="your email address" aria-describedby="exampleHelpText" required>
    <p class="help-text" id="exampleHelpText">arthur.rimbaud@seer.io</p>

    <label for="msg">your message:
    <textarea rows="4" cols="50" placeholder="enter your message here..."></textarea>
    </label>
    <br>
    <label for="submit-btn">when you finished typing submit your message:</label>
    <button class="small expanded secondary hollow button" href="#">submit</button>

  </form>
  </div>


</div>
