<div class="row column medium-7 medium-centered">
  <div class="headline">
    <h3>contact works!
      <small>... which means that whatever it was that you were looking for is not here anymore. Sorry.</small>
    </h3>
    <p>
      Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla
      enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
  <form id="contact-form" autocomplete="on">
    <div>
      <label for="name">
        name:
      </label>
      <input type="text" class="form-control" id="name" required>
    </div>
    <div>
      <label for="email">
        email:
      </label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <div>
      <label for="msg">
        message:
      </label>
      <textarea rows="4" cols="50" name="msg" form="contact-form">
enter your message here...</textarea>
    </div>
    <button class="small expanded secondary hollow button" href="#">submit</button>
  </form>
</div>
