.header[_ngcontent-cuv-1] {
  text-align: center;
  background: #074E68;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 2.5rem;
  padding-bottom: 4.9rem; }
  .header[_ngcontent-cuv-1]   .headline[_ngcontent-cuv-1] {
    color: #ffe; }

.header-subnav[_ngcontent-cuv-1] {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; }
  .header-subnav[_ngcontent-cuv-1]   li[_ngcontent-cuv-1] {
    float: none;
    display: inline-block; }
    .header-subnav[_ngcontent-cuv-1]   li[_ngcontent-cuv-1]   a[_ngcontent-cuv-1] {
      padding: 0.9rem 1rem;
      font-size: 0.75rem;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out; }
      .header-subnav[_ngcontent-cuv-1]   li[_ngcontent-cuv-1]   a.is-active[_ngcontent-cuv-1] {
        background: rgba(250, 250, 250, 0.15); }
      .header-subnav[_ngcontent-cuv-1]   li[_ngcontent-cuv-1]   a[_ngcontent-cuv-1]:hover {
        background: rgba(250, 250, 250, 0.15);
        transition: all 0.35s ease-in-out; }