<app-site-header></app-site-header>

<div class="row align-center">
  <div class="large-3 columns">12/12/3 columns</div>
  <div class="large-6 columns">
      <div class="row">
          <div class="small-3 columns">3 columns</div>
          <div class="small-9 columns">9 columns</div>
          </div><!-- 12/12/6 columns --></div>
  <div class="large-3 columns">12/12/3 columns</div>
</div>

<div class="row">
    <ul class="menu align-center">
  <li class="small-6 large-2 columns"><a href="#"><i class="fi-list"></i><h1>{{title}}</h1></a></li>
  <li class="small-6 large-8 columns"><a href="#">Item Two</a></li>
  <li class="small-12 large-2 columns"><a href="#">Item Three</a></li>
</ul>
</div>
