$app-body-bg: #fff;
$app-main-font: 'Source Code Pro',
monospace;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 1rem;
$subnav-link-opacity: 0.8;
$app-body-height: 2.5rem;
$transition: all .35s ease-in-out;

.app-body {
    text-align: right;
    background: $app-body-bg;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 5rem;
    padding-bottom: $app-body-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
    .headline {
        color: #474747;
    }
    a {
    padding: $subnav-link-padding 1rem;
    font-size: $subnav-font-size;
    color: #474747;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    transition: $transition;
    &.is-active {
        text-decoration: underline;
        text-decoration-style: dashed;
        color: rgba(71, 71, 71, $subnav-link-opacity);
    }
    &:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
        color: rgba(71, 71, 71, $subnav-link-opacity);
        transition: $transition;
    }
}
}

.app-body-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    li {
        //* float: none; float takes no effect when display set to inline-block, uncoment if display changes
        display: inline-block;
        a {
            padding: $subnav-link-padding 1rem;
            font-size: $subnav-font-size;
            color: #474747;
            text-transform: uppercase;
            display: block;
            font-weight: 400;
            letter-spacing: 1px;
            transition: $transition;
            &.is-active {
                text-decoration: underline;
                text-decoration-style: dashed;
                color: rgba(71, 71, 71, $subnav-link-opacity);
            }
            &:hover {
                text-decoration: underline;
                text-decoration-style: dashed;
                color: rgba(71, 71, 71, $subnav-link-opacity);
                transition: $transition;
            }
        }
    }
}

h1,
h2,
h3,
h4,
h4,
h5 {
    font-family: $app-main-font;
    font-size: $subnav-font-size + 0.5rem;
    color: #474747;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-style: none;
}

pre {
        text-align: left;
}

/* hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-width: 0.1em;
} */

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
    padding: $subnav-link-padding 1rem;
    font-size: $subnav-font-size;
    color: rgba(71, 71, 71, $subnav-link-opacity);
    text-transform: none;
    display: block;
    font-weight: 400;
    transition: $transition;
    &.is-active {
        text-decoration: none;
        text-decoration-style: none;
        color: rgba(71, 71, 71, $subnav-link-opacity - 0.5);
    }
    &:hover {
        text-decoration: none;
        text-decoration-style: none;
        color: rgba(71, 71, 71, $subnav-link-opacity + 0.4);
        transition: $transition;
    }
}

button {
    font-family: $app-main-font;
    font-size: $subnav-font-size + 0.5rem;
    color: #474747;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-style: none;
    text-align: right;
}
