

$app-body-bg: #fff;
$app-main-font: 'Source Code Pro', monospace;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$app-body-height: 2.5rem;
$transition: all .35s ease-in-out;
.app-body {
  text-align: right;
  background: $app-body-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: $app-body-height;
  padding-bottom: $app-body-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
  .headline {
    color: #474747;
  }
}

.app-body-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  li {
    //* float: none; float takes no effect when display set to inline-block, uncoment if display changes
    display: inline-block;
    a {
      padding: $subnav-link-padding 1rem;
      font-size: $subnav-font-size;
      color: #474747;
      text-transform: uppercase;
      display: block;
      font-weight: 400;
      letter-spacing: 1px;
      transition: $transition;
      &.is-active {
        background: rgba(250, 250, 250, $subnav-link-opacity);
      }
      &:hover {
        background: rgba(250, 250, 250, $subnav-link-opacity);
        transition: $transition;
      }
    }
  }
}
