<header class="header">
  <div class="row">
    <div class="small-6 large-2 columns">
      <!-- 6/6/2 columns >
    <h1>{{title}}</h1-->
    </div>
    <div class="small-6 large-2 columns">
      <!-- 6/6/4 columns >
  <img src="/assets/arthur.svg" alt=""--></div>
    <div class="small-12 large-8 columns">
      <!-- 12/12/8 -->
      <img src="/assets/rafszul.svg" alt=""></div>
  </div>
  <h1 class="headline">
    <h1>{{title}}</h1><small></small></h1>
  <ul class="header-subnav">
    <li><a href="#">Take Action!</a></li>
    <li><a href="#" class="is-active">Carpe Diem!</a></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
  </ul>
</header>
<!--div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Blog</li>
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
</div-->
<div class="callout large primary">
  <div class="row column text-center">
    <h1>Our Blog</h1>
    <h2 class="subheader">Such a Simple Blog Layout</h2>
  </div>
</div>
<!-- <div class="row medium-8 large-7 columns">
  <div class="blog-post">
    <h3>Awesome blog post title <small>3/6/2016</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue
      lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum
      faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
    <div class="callout">
      <ul class="menu simple">
        <li><a href="#">Author: Mike Mikers</a></li>
        <li><a href="#">Comments: 3</a></li>
      </ul>
    </div>
  </div>
  <div class="blog-post">
    <h3>Awesome blog post title <small>3/6/2016</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue
      lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum
      faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
    <div class="callout">
      <ul class="menu simple">
        <li><a href="#">Author: Mike Mikers</a></li>
        <li><a href="#">Comments: 3</a></li>
      </ul>
    </div>
  </div>
  <div class="blog-post">
    <h3>Awesome blog post title <small>3/6/2016</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue
      lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum
      faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
    <div class="callout">
      <ul class="menu simple">
        <li><a href="#">Author: Mike Mikers</a></li>
        <li><a href="#">Comments: 3</a></li>
      </ul>
    </div>
  </div>
  <div class="blog-post">
    <h3>Awesome blog post title <small>3/6/2016</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue
      lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum
      faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
    <div class="callout">
      <ul class="menu simple">
        <li><a href="#">Author: Mike Mikers</a></li>
        <li><a href="#">Comments: 3</a></li>
      </ul>
    </div>
  </div>
</div> -->
