<app-header-subnav></app-header-subnav>

<div class="app-body">
    <div class="headline">
      <img src="/assets/arthur.svg" alt="">
    
    <h3><small>Such a Simple Blog Layout</small></h3>

</div>

  <ul class="app-body-subnav">
    <li><a href="#">Take Action!</a></li>
    <li><a href="#" class="is-active">Carpe Diem!</a></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
  </ul>
  </div>
<router-outlet></router-outlet>
<app-footer-subnav></app-footer-subnav>
