<div class="row column medium-7 medium-centered">
  <div class="headline">
    <h1><small>consider this:</small>
    </h1>
    <q>
      CSS layout is historically notable as the foremost cause of countries going to war, mental health issues, and countless physical confrontations between humans and technological devices. Angular Material has redeemed the sins of our CSS patriarchs by making layout simple. At some point or another, we have all Googled “How to layout two divs side by side” and eventually “How to center element vertically in CSS”.
<br>
      Because Angular Material is based on CSS flexbox, solving these historically perplexing questions can be achieved in just a few lines of HTML.
    </q>
    <p>
      <small>from <a target="_blank" href="http://onehungrymind.com/reasons-to-love-angular-material/">reasons to love angular material</a></small>
      </p>
      <p><a routerLink="/contact" routerLinkActive="is-active">let me know what you think</a>
      </p>
  </div>

</div>
