<div class="headline">
    <h1><small>my name is rafal / rafszul</small>
    </h1>
    <p>i&#39;m a web programmer and interpreter</p>

    <p>i translate human ideas into executable code</p>

    <p>i embrace change and feed my appetite for speed with fast paced life of javascript development</p>

    <p>i speak web tech and breathe agile since i was doing flash game development</p>

    <p>in web programming world that&#39;s very long time ago</p>

    <p>don&#39;t take my word for it and check out <a routerLink="/my-work" routerLinkActive="is-active" class="is-active">my work sorted from most recent backwards</a></p>

    <p>at the time of writing i would like to engage my skills as digital product architect and web programmer</p>

    <p>preferably on projects using opinionated angular2 with focus on high quality user interfaces and rich interaction with the user</p>

    <p>i&#39;m huge fan of scalable vector graphics (svg) since always</p>

    <hr>

    <p>my skills are listed in <a routerLink="/about-me" routerLinkActive="is-active">about me</a> and are sorted by my current preference</p>

    <p>you can call it my opinion on web and digital product development</p>

    <hr>

    <p>as a programmer</p>

    <p>i like rich integrations and open code on developed in distributed ecosystem</p>

    <p>it starts from professional co-ops and ends with richard stallman</p>

    <p>this also includes your phone</p>

    <p>don&#39;t just take my word for it, see <a target="_blank" href="https://github.com/rafszul/">the source code on my github profile</a></p>

    <hr>
    <h1><small>consider this:</small>
    </h1>
    <q>
      CSS layout is historically notable as the foremost cause of countries going to war, mental health issues, and countless physical confrontations between humans and technological devices. Angular Material has redeemed the sins of our CSS patriarchs by making layout simple. At some point or another, we have all Googled “How to layout two divs side by side” and eventually “How to center element vertically in CSS”.
<br>
      Because Angular Material is based on CSS flexbox, solving these historically perplexing questions can be achieved in just a few lines of HTML.
    </q>
    <p>
        <small>from <a target="_blank" href="http://onehungrymind.com/reasons-to-love-angular-material/">reasons to love angular material</a></small>
    </p>
    <p><a routerLink="/contact" routerLinkActive="is-active">let me know what you think</a>
    </p>
</div>